/vendor
/files
/uploads
/application/modules/accountant
/application/modules/api
/application/modules/appointment
/application/modules/authorizenet
/application/modules/doctor
/application/modules/donr
/application/modules/email
/application/modules/featured
/application/modules/finance
/application/modules/fronted
/application/modules/gallery
/application/modules/gridsection
/application/modules/import
/application/modules/lab
/application/modules/laboratorist
/application/modules/medicine
/application/modules/meeting
/application/modules/nurse
/application/modules/patient
/application/modules/paypal
/application/modules/paystack
/application/modules/paytm
/application/modules/payu
/application/modules/pgateway
/application/modules/pharmacist
/application/modules/prescription
/application/modules/profile
/application/modules/receptionist
/application/modules/report
/application/modules/review
/application/modules/schedule
/application/modules/service
/application/modules/settings
/application/modules/slide
/application/modules/sms
/application/modules/sslcommerzpayment
/application/modules/twocheckoutpay
/application/cache
/application/config
/application/controllers
/application/core
/application/helpers
/application/hooks
/application/language
/application/libraries
/application/models
/application/third_party
/application/views
/common